<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Quora postss!!</h2>
    <% for(post of posts){ %>
        <div>
            <h2>@<%= post.username %></h2>
            <%= post.content %>
            <br>
            <a href="http://localhost:8080/posts/<%=post.id%>">Show in detail</a>
            <a href="http://localhost:8080/posts/<%=post.id%>/edit">Edit</a>
            <form method="post" action="/posts/<%=post.id%>?_method=DELETE">
                <button>Delete blog</button>
            </form>
        </div>
   <% } %>
   <a href="http://localhost:8080/posts/new">Create blog</a>
</body>
</html>